In [31]:
# Import Libraries
import requests
import pandas as pd

In [32]:
# Pull in data from API
url = "http://zelda.fanapis.com/api/games"
r = requests.get(url)
json = r.json()

In [33]:
# Create the dataframe
df = pd.DataFrame(json["data"])

# View first five rows of dataframe
print(df.head())

                                       name  \
0                       The Legend of Zelda
1   The Legend of Zelda: A Link to the Past
2      The Legend of Zelda: Ocarina of Time
3       The Legend of Zelda: Oracle of Ages
4  The Legend of Zelda: Link's Awakening DX

                                         description       developer  \
0  The Legend of Zelda is the first installment o...  Nintendo R&D 4
1  One day, a band of evil thieves managed to ope...        Nintendo
2  The Legend of Zelda: Ocarina of Time is the fi...    Nintendo EAD
3  The Legend of Zelda: Oracle of Ages is one of ...          Capcom
4  The game was also made available on the Ninten...        Nintendo

  publisher       released_date                        id
0  Nintendo   February 21, 1986  5f6ce9d805615a85623ec2b7
1  Nintendo      April 13, 1992  5f6ce9d805615a85623ec2b8
2  Nintendo   November 23, 1998  5f6ce9d805615a85623ec2ba
3  Nintendo        May 14, 2001  5f6ce9d805615a85623ec2b9
4  Nintendo   December 15, 1998  5f6ce9d805615a85623ec2bb

In [34]:
# Drop the "id" column
zelda_games = df.drop(columns=["id"])

# View first five rows of data to confirm that the "id" column was dropped
zelda_games.head()

,name,description,developer,publisher,released_date
0,The Legend of Zelda,The Legend of Zelda is the first installment o...,Nintendo R&D 4,Nintendo,"February 21, 1986"
1,The Legend of Zelda: A Link to the Past,"One day, a band of evil thieves managed to ope...",Nintendo,Nintendo,"April 13, 1992"
2,The Legend of Zelda: Ocarina of Time,The Legend of Zelda: Ocarina of Time is the fi...,Nintendo EAD,Nintendo,"November 23, 1998"
3,The Legend of Zelda: Oracle of Ages,The Legend of Zelda: Oracle of Ages is one of ...,Capcom,Nintendo,"May 14, 2001"
4,The Legend of Zelda: Link's Awakening DX,The game was also made available on the Ninten...,Nintendo,Nintendo,"December 15, 1998"

In [35]:
zelda_games.columns

Index(['name', 'description', 'developer', 'publisher', 'released_date'], dtype='object')

In [38]:
fixed_columns = {
    "name":"Name",
    "description":"Description",
    "developer":"Developer",
    "publisher":"Publisher",
    "released_date":"Released Date"
}

zelda_games.rename(columns=fixed_columns, inplace=True)
zelda_games.head()

,Name,Description,Developer,Publisher,Released Date
0,The Legend of Zelda,The Legend of Zelda is the first installment o...,Nintendo R&D 4,Nintendo,"February 21, 1986"
1,The Legend of Zelda: A Link to the Past,"One day, a band of evil thieves managed to ope...",Nintendo,Nintendo,"April 13, 1992"
2,The Legend of Zelda: Ocarina of Time,The Legend of Zelda: Ocarina of Time is the fi...,Nintendo EAD,Nintendo,"November 23, 1998"
3,The Legend of Zelda: Oracle of Ages,The Legend of Zelda: Oracle of Ages is one of ...,Capcom,Nintendo,"May 14, 2001"
4,The Legend of Zelda: Link's Awakening DX,The game was also made available on the Ninten...,Nintendo,Nintendo,"December 15, 1998"