## Knowledge Check 1

In [63]:
# Import Libraries
import requests
import pandas as pd

In [64]:
# Pull in data from API
url = "http://zelda.fanapis.com/api/games"
r = requests.get(url)
json = r.json()

In [65]:
# Create the dataframe
df = pd.DataFrame(json["data"])

# View first five rows of dataframe
print(df.head())

                                       name  \
0                       The Legend of Zelda
1   The Legend of Zelda: A Link to the Past
2      The Legend of Zelda: Ocarina of Time
3       The Legend of Zelda: Oracle of Ages
4  The Legend of Zelda: Link's Awakening DX

                                         description       developer  \
0  The Legend of Zelda is the first installment o...  Nintendo R&D 4
1  One day, a band of evil thieves managed to ope...        Nintendo
2  The Legend of Zelda: Ocarina of Time is the fi...    Nintendo EAD
3  The Legend of Zelda: Oracle of Ages is one of ...          Capcom
4  The game was also made available on the Ninten...        Nintendo

  publisher       released_date                        id
0  Nintendo   February 21, 1986  5f6ce9d805615a85623ec2b7
1  Nintendo      April 13, 1992  5f6ce9d805615a85623ec2b8
2  Nintendo   November 23, 1998  5f6ce9d805615a85623ec2ba
3  Nintendo        May 14, 2001  5f6ce9d805615a85623ec2b9
4  Nintendo   December 15, 1998  5f6ce9d805615a85623ec2bb

In [66]:
# Drop the "id" column
zelda_games = df.drop(columns=["id"])

# View first five rows of data to confirm that the "id" column was dropped
zelda_games.head()

,name,description,developer,publisher,released_date
0,The Legend of Zelda,The Legend of Zelda is the first installment o...,Nintendo R&D 4,Nintendo,"February 21, 1986"
1,The Legend of Zelda: A Link to the Past,"One day, a band of evil thieves managed to ope...",Nintendo,Nintendo,"April 13, 1992"
2,The Legend of Zelda: Ocarina of Time,The Legend of Zelda: Ocarina of Time is the fi...,Nintendo EAD,Nintendo,"November 23, 1998"
3,The Legend of Zelda: Oracle of Ages,The Legend of Zelda: Oracle of Ages is one of ...,Capcom,Nintendo,"May 14, 2001"
4,The Legend of Zelda: Link's Awakening DX,The game was also made available on the Ninten...,Nintendo,Nintendo,"December 15, 1998"

In [69]:
# # Return the number of rows and columns in the data
zelda_games.shape

(20, 5)

In [70]:
# Display a summary of statistics calculated for each column
zelda_games.describe()

,name,description,developer,publisher,released_date
count,20,20,20,20,20
unique,19,19,6,3,18
top,The Legend of Zelda: Tri Force Heroes,The Legend of Zelda: Tri Force Heroes is the e...,Nintendo,Nintendo,"May 14, 2001"
freq,2,2,7,18,2

In [78]:
# Select only the Zelda games that were developed by Capcom 
zelda_games[zelda_games["developer"] == "Capcom"]

,name,description,developer,publisher,released_date
3,The Legend of Zelda: Oracle of Ages,The Legend of Zelda: Oracle of Ages is one of ...,Capcom,Nintendo,"May 14, 2001"
9,The Legend of Zelda: Oracle of Seasons,The Legend of Zelda: Oracle of Seasons is one ...,Capcom,Nintendo,"May 14, 2001"
18,The Legend of Zelda: Four Swords,As part of the 25th Anniversary of The Legend ...,Capcom,Nintendo,"December 2, 2002"
19,The Legend of Zelda: The Minish Cap,The Legend of Zelda: The Minish Cap is the twe...,Capcom,Nintendo,"January 10, 2005"

In [79]:
# Select only the second and third columns
zelda_games.iloc[:, [1, 2]]

                                          description        developer
0   The Legend of Zelda is the first installment o...   Nintendo R&D 4
1   One day, a band of evil thieves managed to ope...         Nintendo
2   The Legend of Zelda: Ocarina of Time is the fi...     Nintendo EAD
3   The Legend of Zelda: Oracle of Ages is one of ...           Capcom
4   The game was also made available on the Ninten...         Nintendo
5   The Legend of Zelda: Majora's Mask is the sixt...     Nintendo EAD
6   A few years after the defeat of Ganon and the ...     Nintendo EAD
7   The Legend of Zelda: The Wind Waker is the ten...     Nintendo EAD
8   The Legend of Zelda: Twilight Princess is the ...     Nintendo EAD
9   The Legend of Zelda: Oracle of Seasons is one ...           Capcom
10                                                        Nintendo EAD
11  BS The Legend of Zelda: Ancient Stone Tablets ...         Nintendo
12  Hyrule Warriors is a Legend of Zelda spin-off ...      Omega Force
13  One night, an ominous cloud covers Hyrule, thr...         Nintendo
14  The Legend of Zelda: Tri Force Heroes is the e...         Nintendo
15  The Legend of Zelda: Breath of the Wild is the...         Nintendo
16  The Legend of Zelda: Tri Force Heroes is the e...         Nintendo
17  A product of a compromise between Nintendo and...  Animation Magic
18  As part of the 25th Anniversary of The Legend ...           Capcom
19  The Legend of Zelda: The Minish Cap is the twe...           Capcom

In [80]:
# Display first 4 rows of data
zelda_games.iloc[:4]

,name,description,developer,publisher,released_date
0,The Legend of Zelda,The Legend of Zelda is the first installment o...,Nintendo R&D 4,Nintendo,"February 21, 1986"
1,The Legend of Zelda: A Link to the Past,"One day, a band of evil thieves managed to ope...",Nintendo,Nintendo,"April 13, 1992"
2,The Legend of Zelda: Ocarina of Time,The Legend of Zelda: Ocarina of Time is the fi...,Nintendo EAD,Nintendo,"November 23, 1998"
3,The Legend of Zelda: Oracle of Ages,The Legend of Zelda: Oracle of Ages is one of ...,Capcom,Nintendo,"May 14, 2001"